body {
  font-family: 'Helvetica Neue', sans-serif;
  color: $txt-color;
}

h1 {
  font-size: 44px;
  line-height: 50px;
  font-weight: 300;
}

.section-title {
  font-size: 38px;
  line-height: 43px;
}
