//main colors
$blue: #00acec;
$light-blue: #a5ddf7;
$dark: #303235;
$yellow: #f8c232;
$gray: #f4f4f4;

//txt colors
$txt-color: #303235;

//form validation
$err: #f44242;

.bg-gray {
  background-color: $gray;
}

.bg-yellow {
  background-color: $yellow;
}
