//main colors
$blue: #00ACEC;
$dark: #303235;
$yellow: #F8C232;
$gray: #F4F4F4;

//txt colors
$txt-color: #303235;

//form validation
$err: #f44242;

.bg-gray {
  background-color: $gray;
}

.bg-yellow {
  background-color: $yellow;
}


